// flex
.username {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

// password
.password {
  display: flex;
  justify-content: center;
  // align-self: center;
  // grid-row: 2;
  margin-bottom: 15px;
}

// submit
.submit {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
}

.submit div {
  display: flex;
  justify-content: flex-end;
  width: 226px;
}

.submit button {
  width: 170.21px;
}

// grid
// .divClass {
//   box-sizing: border-box;
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   justify-content: center;
// }

// .formContainer {

//   // grid-template-columns: 1fr 1fr;

//   // align-self: center;
//   // align-items: center;
// }

// .username>label {
//   grid-column: 1;
// }

// .username>input {
//   grid-column: 1;
// }
